.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/shoes.jpg);
  /* 배경 박스 꽉 채우기 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* 인스타그램 필터 같은 느낌 */
  filter: brightness(70%) saturate(200%);

  padding: 1px;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 300px;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;

  /* position : relative :(기준점): 내 원래 위치를 기준으로 삼아주세요. */
  /* 마이너스 표시도 가능 */
  /* 위치에서 좌표 이동 */
  position: relative;
  top: 100px;
  left: 100px;
  /* bottom: 10px; */

  /* position 속성들 */
  /* position: static; 좌표 이동을 하지 말아주세요. */
  /* position: fixed; 화면에 고정. 현재 view포트 기준점 */
  /* position: absolute; 나의 부모 태그 중 position: relative를 가지고 있는 것이 기준점 */

  /* position: absolute(다른 postion들도 마찬가지) 가운데 정렬 주는 법 */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px;
}

.explain-box {
  width: 80%;
  /* 최대폭 지정하는 법 */
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  background-color: #eee;
  position: relative;
  top: -40px;
}
